/* General styles
 **************************************************/
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: #775656;
}

a,a:hover,a:focus {
	text-decoration: none;
	outline: 0;
}



h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
}


/*  custom  */

.container {
	margin: auto;
	max-width: 662px;
	padding: 0 20px; }
  
  @media only screen and (max-width: 767px) {
	.intro img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto; }
  
	footer {
	  text-align: center; } }
  .typed-cursor {
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite; }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 1; }
	50% {
	  opacity: 0; }
	100% {
	  opacity: 1; } }
  @-moz-keyframes blink {
	0% {
	  opacity: 1; }
	50% {
	  opacity: 0; }
	100% {
	  opacity: 1; } }
  @-ms-keyframes blink {
	0% {
	  opacity: 1; }
	50% {
	  opacity: 0; }
	100% {
	  opacity: 1; } }
  @-o-keyframes blink {
	0% {
	  opacity: 1; }
	50% {
	  opacity: 0; }
	100% {
	  opacity: 1; } }
  .main-nav {
	background: #f4f4f4;
	padding-top: 23px; }
	.main-nav nav ul li a {
	  color: #a7a7a7; }
	.main-nav1 nav ul li.active a {
	  color: #4d4d4d; }
  
  
  .quote {
	  background: url(bg.jpg);
	padding: 20px 0px;
	margin-top: 120px; }
	.quote h1 {
	  margin: 100px 0px;
	  padding: 40px 20px;
	  border: 5px solid #fff;
	  color: #fff; }
  
  footer {
	padding: 50px 0px 0px 0px; }
	footer .social li {
	  display: inline;
	  margin-left: 20px; }
	  footer .social li a {
		font-size: 1.25em;
		color: #999999; }
  
 
		







		

/* custom*/
.main-nav {
    background: #f4f4f4;
    padding-top: 23px; }
    .main-nav nav ul li a {
      color: #434141; }
    .main-nav nav ul li.active a {
      color: #4e4c4c; }

	  .container {
		margin: auto;
		max-width: 800px;
		padding: 0 20px; }





/* =Navs
-----------------------------------------------------------------------------*/
/* NavBar */
.navbar {
	font-size: 105%;
	margin-bottom: 1.65em;
  }
  .navbar:after {
	content: "";
	display: table;
	clear: both;
  }
  .navbar:after {
	content: "";
	display: table;
	clear: both;
  }
  .navbar.navbar-left {
	float: left;
  }
  .navbar.navbar-right {
	float: right;
  }
  .navbar ul {
	list-style: none;
	margin: 0;
  }
  .navbar ul:after {
	content: "";
	display: table;
	clear: both;
  }
  .navbar ul:after {
	content: "";
	display: table;
	clear: both;
  }
  .navbar li {
	float: left;
	margin-right: 1.65em;
  }
  .navbar.navbar-right li {
	margin-right: 0;
	margin-left: 1.65em;
  }
  .navbar a {
	display: block;
	text-decoration: none;
  }
  .navbar span {
	display: block;
	text-decoration: none;
  }
  .navbar a:hover {
	color: #b12a31;
	text-decoration: none; /* 确保没有下划线 */
}
  .navbar li.active a {
	display: block;
	text-decoration: none;
  }
  .navbar span {
	text-decoration: none;
	cursor: text;
	color: rgba(0, 0, 0, 0.4);
  }
  .navigation-toggle {
	display: none;
	text-transform: uppercase;
	position: relative;
	color: #0f0f0f;
	background-color: #ffffff;
  }
  .navigation-toggle:after {
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -12px;
	left: 10px;
	content: "\2630";
	font-size: 24px;
	line-height: 1;
  }
  .navigation-toggle.navigation-toggle-black {
	background-color: #0f0f0f;
	color: #ffffff;
  }
  .navigation-toggle.navigation-toggle-show {
	margin-bottom: 1.65em;
  }
  .navigation-toggle span {
	position: relative;
	z-index: 2;
	cursor: pointer;
	display: block;
	padding: 10px 20px 10px 40px;
  }
  .navigation-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
  }
  /* Pills */
  .navbar-pills a,
  .navbar-pills span {
	padding: 0.825em 1.65em;
  }
  .navbar-pills a:hover {
	color: #0f0f0f;
	background: #eee;
  }
  .navbar-pills li.active a,
  .navbar-pills span {
	text-decoration: none;
	cursor: text;
	color: rgba(0, 0, 0, 0.4);
	background: #eee;
  }
  .navbar-pills li {
	margin-right: 1px;
  }
  .navbar-pills.navbar-right li {
	margin-left: 1px;
  }
  /* Fullwidth */
  .fullwidth ul {
	width: 100%;
  }
  .fullwidth li {
	float: none !important;
	margin: 0;
	display: table-cell;
	width: 1%;
	text-align: center;
  }
  .fullwidth li a,
  .fullwidth li span {
	display: block;
  }
  /* Vertical */
  .nav {
	margin-bottom: 1.65em;
  }
  .nav ul {
	list-style: none;
	margin: 0;
  }
  .nav ul li ul {
	margin-left: 2em;
	font-size: .95em;
  }
  .nav a,
  .nav span {
	display: block;
	padding: .5em 0;
  }
  .nav a {
	color: #0f0f0f;
	text-decoration: none;
  }
  .nav a:hover {
	color: #de2c3b;
	text-decoration: underline;
  }
  .nav li.active a,
  .nav span {
	text-decoration: none;
	cursor: text;
	color: rgba(0, 0, 0, 0.4);
  }
  .nav i.fa {
	width: 1.65em;
  }
  /* Stacked */
  .nav-stacked li {
	margin-bottom: 1px;
  }
  .nav-stacked a,
  .nav-stacked span {
	padding: .6em .7em;
  }
  .nav-stacked a {
	background: #f6f6f6;
  }
  .nav-stacked a:hover {
	color: #000;
	background: #eee;
  }
  .nav-stacked li.active a,
  .nav-stacked span {
	background: #ffffff;
	text-decoration: none;
	cursor: text;
	color: rgba(0, 0, 0, 0.3);
  }
  /* Stats */
  .nav-stats li {
	position: relative;
  }
  .nav-stats a,
  .nav-stats span {
	padding-right: 50px;
  }
  .nav-stats sup,
  .nav-stats .badge {
	position: absolute;
	top: 50%;
	right: 0;
  }
  .nav-stats sup {
	color: rgba(0, 0, 0, 0.4);
  }
  .nav-stats .badge {
	margin-top: -8px;
  }
  /* =Tabs
  -----------------------------------------------------------------------------*/
  .nav-tabs {
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 1.65em;
  }
  .nav-tabs:after {
	content: "";
	display: table;
	clear: both;
  }
  .nav-tabs:after {
	content: "";
	display: table;
	clear: both;
  }
  .nav-tabs ul {
	list-style: none;
	margin: 0;
  }
  .nav-tabs li {
	float: left;
	margin-right: 2px;
  }
  .nav-tabs a,
  .nav-tabs span {
	display: block;
	line-height: 1;
	padding: 0.825em 1.65em;
	border: 1px solid transparent;
  }
  .nav-tabs a {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
  }
  .nav-tabs a:focus,
  .nav-tabs a:hover {
	color: #0f0f0f;
	text-decoration: underline;
	background-color: #eee;
  }
  .nav-tabs li.active a,
  .nav-tabs span {
	color: #0f0f0f;
	background: #fff;
	position: relative;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	bottom: -1px;
	cursor: default;
	text-decoration: none;
  }

	 
  
 
/* =Grid
-----------------------------------------------------------------------------*/
.units-container:after,
.units-row:after {
  content: "";
  display: table;
  clear: both;
}
.units-container:after,
.units-row:after {
  content: "";
  display: table;
  clear: both;
}
.units-container {
  /* it's the trick to not collapse padding-top in the child element */

  padding-top: 1px;
  margin-top: -1px;
}
.units-row {
  margin-bottom: 1.65em;
}
.width-100,
.unit-100 {
  width: 100%;
}
.width-90,
.unit-90 {
  width: 90%;
}
.width-80,
.unit-80 {
  width: 80%;
}
.width-75,
.unit-75 {
  width: 75%;
}
.width-70,
.unit-70 {
  width: 70%;
}
.width-66,
.unit-66 {
  width: 66.6%;
}
.width-65,
.unit-65 {
  width: 65%;
}
.width-60,
.unit-60 {
  width: 60%;
}
.width-50,
.unit-50 {
  width: 50%;
}
.width-40,
.unit-40 {
  width: 40%;
}
.width-35,
.unit-35 {
  width: 35%;
}
.width-33,
.unit-33 {
  width: 33.3%;
}
.width-30,
.unit-30 {
  width: 30%;
}
.width-25,
.unit-25 {
  width: 25%;
}
.width-20,
.unit-20 {
  width: 20%;
}
.width-10,
.unit-10 {
  width: 10%;
}
.units-row .unit-90,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-65,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-35,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row .unit-10 {
  float: left;
  margin-left: 3%;
}
.units-row .unit-90:first-child,
.units-row .unit-80:first-child,
.units-row .unit-75:first-child,
.units-row .unit-70:first-child,
.units-row .unit-66:first-child,
.units-row .unit-65:first-child,
.units-row .unit-60:first-child,
.units-row .unit-50:first-child,
.units-row .unit-40:first-child,
.units-row .unit-35:first-child,
.units-row .unit-33:first-child,
.units-row .unit-30:first-child,
.units-row .unit-25:first-child,
.units-row .unit-20:first-child,
.units-row .unit-10:first-child {
  margin-left: 0;
}
.units-row .unit-90 {
  width: 89.7%;
}
.units-row .unit-80 {
  width: 79.4%;
}
.units-row .unit-75 {
  width: 74.25%;
}
.units-row .unit-70 {
  width: 69.1%;
}
.units-row .unit-66 {
  width: 65.66666666666666%;
}
.units-row .unit-65 {
  width: 65.66666666666666%;
}
.units-row .unit-60 {
  width: 58.800000000000004%;
}
.units-row .unit-50 {
  width: 48.5%;
}
.units-row .unit-40 {
  width: 38.2%;
}
.units-row .unit-35 {
  width: 31.333333333333332%;
}
.units-row .unit-33 {
  width: 31.333333333333332%;
}
.units-row .unit-30 {
  width: 27.9%;
}
.units-row .unit-25 {
  width: 22.75%;
}
.units-row .unit-20 {
  width: 17.6%;
}
.units-row .unit-10 {
  width: 7.3%;
}
.unit-push-90,
.unit-push-80,
.unit-push-75,
.unit-push-70,
.unit-push-66,
.unit-push-65,
.unit-push-60,
.unit-push-50,
.unit-push-40,
.unit-push-35,
.unit-push-33,
.unit-push-30,
.unit-push-25,
.unit-push-20,
.unit-push-10 {
  position: relative;
}
.unit-push-90 {
  left: 92.7%;
}
.unit-push-80 {
  left: 82.4%;
}
.unit-push-75 {
  left: 77.25%;
}
.unit-push-70 {
  left: 72.1%;
}
.unit-push-66 {
  left: 68.66666666666666%;
}
.unit-push-65 {
  left: 68.66666666666666%;
}
.unit-push-60 {
  left: 61.800000000000004%;
}
.unit-push-50 {
  left: 51.5%;
}
.unit-push-40 {
  left: 41.2%;
}
.unit-push-35 {
  left: 34.33333333333333%;
}
.unit-push-33 {
  left: 34.33333333333333%;
}
.unit-push-30 {
  left: 30.9%;
}
.unit-push-25 {
  left: 25.75%;
}
.unit-push-20 {
  left: 20.6%;
}
.unit-push-10 {
  left: 10.3%;
}
.units-row .unit-push-right {
  float: right;
}
.units-row .unit-role-right {
  margin-left: 3%;
  float: right;
}
.units-row .unit-role-left {
  margin-left: 0;
}
.centered,
.unit-centered {
  float: none !important;
  margin: 0 auto !important;
}
.unit-padding {
  padding: 1.65em;
}
.units-padding .unit-100,
.units-padding .unit-90,
.units-padding .unit-80,
.units-padding .unit-75,
.units-padding .unit-70,
.units-padding .unit-66,
.units-padding .unit-65,
.units-padding .unit-60,
.units-padding .unit-50,
.units-padding .unit-40,
.units-padding .unit-35,
.units-padding .unit-33,
.units-padding .unit-30,
.units-padding .unit-25,
.units-padding .unit-20,
.units-padding .unit-10 {
  padding: 1.65em;
}
.units-split .unit-90,
.units-split .unit-80,
.units-split .unit-75,
.units-split .unit-70,
.units-split .unit-66,
.units-split .unit-65,
.units-split .unit-60,
.units-split .unit-50,
.units-split .unit-40,
.units-split .unit-35,
.units-split .unit-33,
.units-split .unit-30,
.units-split .unit-25,
.units-split .unit-20,
.units-split .unit-10 {
  margin-left: 0;
}
.units-split .unit-90 {
  width: 90%;
}
.units-split .unit-80 {
  width: 80%;
}
.units-split .unit-75 {
  width: 75%;
}
.units-split .unit-70 {
  width: 70%;
}
.units-split .unit-66 {
  width: 66.6%;
}
.units-split .unit-65 {
  width: 65%;
}
.units-split .unit-60 {
  width: 60%;
}
.units-split .unit-50 {
  width: 50%;
}
.units-split .unit-40 {
  width: 40%;
}
.units-split .unit-35 {
  width: 35%;
}
.units-split .unit-33 {
  width: 33.3%;
}
.units-split .unit-30 {
  width: 30%;
}
.units-split .unit-25 {
  width: 25%;
}
.units-split .unit-20 {
  width: 20%;
}
.units-split .unit-10 {
  width: 10%;
} 

/* mobile menu
 **************************************************/
.mobilemenu {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 1002;
	font-size: 30px;
	padding: 2px 10px;
	background: #a33450;
	display: block;
	width: 50px;
	height: 50px;
	color: #fff;
	display: none;
}

.mobilemenu:hover,.mobilemenu:focus {
	color: #fff;
}

/* layout
 **************************************************/
#main-nav {
	text-align: left;
	vertical-align: top;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 250px;
	background: #c1c7c9;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0px;
	overflow: hidden;
}

.justified {
    text-align:justify;
}

p {
    text-align:justify;
}

#main {
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fefefe;
	overflow: hidden;
}

.page {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 2000px;
	bottom: 0;
	width: 85%;
	background-color: #f7f7f7;
}

.home {
	left: 0px;
	z-index: 0;
	width: 100%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	right: 0px;
	background-color: rgb(72, 72, 72);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	opacity: 0.25;
	display: none;
	z-index: 300;
	cursor: crosshair;
	cursor: url(pointer.png), auto;
}

#runner {
	position: absolute;
	width: 30px;
	height: 20px;
	color: #fff;
	font-size: 20px;
	z-index: 2000;
}

.currentpage {
	-webkit-box-shadow: -2px 0 4px -2px rgba(62, 7, 7, 0.25);
	box-shadow: -2px 0 4px -2px rgba(84, 4, 4, 0.25);
}

/* sidebar
 **************************************************/
 #nav-container {
    position: relative;
    padding-bottom: 75px;
    bottom: 0;
    height: 100%;
    z-index: 10; /* 确保导航容器在其他元素之上 */
    overflow: visible; /* 确保内容不会被裁剪 */
}

#profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

#profile .portrait {
    background-image: url(JiaPic.jpg);
    width: 125px;
    margin: 0 auto;
    height: 125px;
    border-radius: 50%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#profile .title h2 {
    font-size: 34px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin: 20px 0 10px 0;
}

#profile .title h3 {
    font-size: 18px;
    font-weight: 300;
    color: #aaa;
    margin: 0px 0 10px 0;
}

ul#navigation {
    padding: 0;
    margin: 0;
    list-style: none; /* 移除默认的列表样式 */
    overflow: hidden; /* 清除浮动问题 */
}

ul#navigation li {
    display: block;
    float: none;
    clear: both;
    background: #7b7e7e;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #0e0d0d;
    position: relative; /* 确保子元素的 z-index 生效 */
    z-index: 1; /* 确保列表项在其他内容之上 */
    overflow: visible; /* 确保内容不会被裁剪 */
    
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

ul#navigation li a {
    color: rgb(247, 208, 180);
    font-size: 14px;
    display: block; /* 确保链接是块级元素，可以被点击 */
    padding: 10px; /* 增加内边距，扩大点击区域 */
    text-decoration: none; /* 去除默认的下划线 */
    position: relative; /* 确保 z-index 生效 */
    z-index: 2; /* 确保链接在其他元素之上 */
    pointer-events: auto; /* 确保链接可以接收点击事件 */
    background: transparent; /* 确保背景透明 */
    opacity: 1; /* 确保链接完全可见 */
    visibility: visible; /* 确保链接可见 */
}

/* 确保链接可点击 */
ul#navigation li a:hover,
ul#navigation li a:focus {
    background: #494848;
    color: #ffffff;
}

ul#navigation li.currentmenu {
    background: #916969;
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #252525;
}

ul#navigation li.currentmenu a {
    color: #fff;
}

ul#navigation li .text {
    padding-left: 5%;
    margin-left: 50px;
    line-height: 45px;

    -webkit-box-shadow: -3px 0 5px -4px rgb(14, 22, 25);
    box-shadow: -3px 0 5px -4px rgb(22, 28, 35);
}

ul#navigation li .icon {
    float: left;
    line-height: 45px;
    width: 50px;
    text-align: center;
    font-size: 27px;
}

/* 清除浮动 */
ul#navigation::after {
    content: "";
    display: table;
    clear: both;
}


.page-container {
	position: relative;
}

.pageheader {
	background: #f3f3f3;
	position: relative;
	padding: 60px 0 45px 0;
}

.pageheader:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(8, 4, 13, 0);
	border-top-color: #f3f3f3;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
	z-index: 1;
}

.headercontent .title {
	font-size: 50px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
}

.headercontent .subtitle {
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 5px 0;
}

.headercontent .subtitle h3 {
	margin: 0;
	padding: 0;
}

.page .section {
	padding: 70px 0;
	position: relative;
}

.section-container {
	padding: 0 10%;
}

.color-1 {
	background: #fcfcfc;
}

.color-2 {
	background: #f7f7f7;
}

.color-3 {
	background: #2c2c2d;
	color: #fff;
}

.color-4 {
	background: #000;
}

.section .title {
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px 0;
	padding: 20px 0;
}

.section .title h3 {
	padding: 0;
	margin: 0;
	font-size: 26px;
}


.biothumb{position: relative;}
.biothumb .overlay{
	position: absolute;
	width: 100%;
	color:#fff;
	bottom: 0;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
	padding:25px;
}
.biothumb .overlay h1{
	font-size: 45px;
}


/*************************************************
 *  uls
 **************************************************/
.ul-bolded li {
	font-weight: bold;
}

.ul-boxed li {
	padding: 7px;
	background-color: #FdFdFd;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 2px;
	border-left: 5px solid;
}

/* ul-card
 **************************************************/
ul.ul-card {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.ul-card li {
	position: relative;
	padding: 50px 15px 20px 15px;
	background-color: #fff;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
	margin-left: 10px;
	color: #333;
}

ul.ul-card li .dy {
	position: absolute;
	top: 10px;
	left: -10px;
	border-radius: 0px;
	padding: 0;
color: white;
}

ul.ul-card li .dy span {
	padding: 7px 10px;
	line-height: 30px;
	margin: 0;
}

/*ul.ul-card li .dy .degree {
	background-color: #03bb7a;
}*/

ul.ul-card li .dy .year {
	/*background-color: #03cc85;*/
	-webkit-box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
	box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
	margin-left: -3px !important;
}

ul.ul-card li .description p {
	font-size: 16px;
	margin: 0;
}

ul.ul-card li .description p.where {
	font-weight: 300;
	font-size: 14px;
}

/* ul-dates
 **************************************************/
ul.ul-dates,ul.ul-dates-gray {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.ul-dates li,ul.ul-dates-gray li {
	margin-bottom: 15px; /*margin-left:  20px;
	*/
}

ul.ul-dates div.dates,ul.ul-dates-gray div.dates {
	float: left;
	width: 75px;
}

ul.ul-dates div.dates span,ul.ul-dates-gray div.dates span {
	/*background-color: #03cc85;*/
	padding: 6px;
	display: block;
	text-align: center;
	color: #fff;
	position: relative;
}

ul.ul-dates-gray div.dates span {
	background-color: #BBBBBB;
}

/*ul.ul-dates div.dates span:last-child {
	background-color: #03bb7a;
}*/

ul.ul-dates-gray div.dates span:last-child {
	background-color: #979797;
}

ul.ul-dates-gray div.dates span:first-child,ul.ul-dates div.dates span:first-child {
	-webkit-box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	z-index: 3;
	position: relative;
}

ul.ul-dates div.content,ul.ul-dates-gray div.content {
	margin-left: 90px;
	min-height: 70px;
	padding-top: 10px;
}

ul.ul-dates div.content h4,ul.ul-dates-gray div.content h4 {
	font-weight: 400;
	font-size: 16px;
	margin-top: 0;
}

ul.ul-dates div.content p,ul.ul-dates-gray div.content p {
	font-size: 13px;
}


/* ul-staff
 **************************************************/
ul.ul-staff {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.ul-staff li {
	margin-bottom: 15px; /*margin-left:  20px;
	*/
}

ul.ul-staff div.photo {
	float: left;
	width: 120px;
    height: 120px;
}

ul.ul-staff div.photo span {
	/*background-color: #03cc85;*/
	padding: 0px;
	display: block;
	text-align: center;
	color: #fff;
	position: relative;
}

ul.ul-staff div.content {
	margin-left: 160px;
	min-height: 120px;
	padding-top: 10px;
}

ul.ul-staff div.content h4 {
	font-weight: 400;
	font-size: 16px;
	margin-top: 0;
}

ul.ul-staff div.content p {
	font-size: 13px;
}


/* ul-timeline
 **************************************************/
ul.timeline {
	border-left: 8px solid #FFF;
	list-style: none;
	padding: 1px 0;
	margin-left: 100px;
}

ul.timeline li .date {
	float: left;
	padding: 10px 15px 10px 10px;
	margin-top: 10px;
	margin-left: -115px;
	font-size: 15px;
	width: 110px;
	text-align: center;
	/*background: #03cc85;*/
	color: #fff;
}

/*ul.timeline li.open .data {
	background: #03bb7a;
}*/

ul.timeline li .circle {
	float: left;
	margin: 20px 0;
	margin-left: -14px;
	width: 20px;
	height: 20px;
	border: 4px solid #FFFFFF;
	border-radius: 50%;
	background-color: #d5d5d5;
}

ul.timeline li.open .circle {
	/*background-color: #03bb7a;*/
	-webkit-box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
}

ul.timeline li .data {
	background: #fdfdfd;
	margin: 10px 0px 10px 20px;
	border-left: 10px solid;
	padding: 18px 20px;
	font-size: 16px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
}

ul.timeline li.open .data {
	/*border-color: #03bb7a;*/
	background: #fff;
}

ul.timeline li .data .subject {
	cursor: pointer;
	color: #777;
	font-size: 18px;
}

ul.timeline li .data .text {
	display: none;
	margin-top: 15px;
	font-size: 14px;
}

/* ul-withdetails
 **************************************************/
.ul-withdetails {
	list-style: none;
	padding: 0;
}

.ul-withdetails li {
	background-color: #FdFdFd;
	margin-bottom: 15px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
    padding-bottom: 5px;
}

.ul-withdetails li .image {
	position: relative;
	overflow: hidden;
}

.ul-withdetails li .imageoverlay {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	/*background: #03cc85;*/
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.ul-withdetails li .imageoverlay i {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 45%;
	font-size: 30px;
}

.ul-withdetails li .meta {
	overflow: hidden;
	padding: 20px;
	cursor: pointer;
}

.ul-withdetails li .details {
	display: none;
	padding: 20px;
	background: #fff;

	-webkit-box-shadow: inset 0px 3px 5px -3px #ccc;
	box-shadow: inset 0px 3px 5px -3px #ccc;
}

/*************************************************
 * lab partners
 **************************************************/
#labp-heads-wrap {
	/*background-color: #03bb7a;*/
	position: relative;
	height: 180px; 
}

#labp-heads-wrap:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 38, 38, 0);
	/*border-top-color: #03bb7a;*/
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

#lab-carousel {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

#lab-carousel div {
	float: left;
	width: 100px;
	height: 100px;
}

#lab-carousel img {
	border: none;
	position: relative;

	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.caroufredsel_wrapper {
	margin-top: -10px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

#labp-heads-wrap #next,#labp-heads-wrap #prev {
	position: absolute;
	top: 0;
	height: 100%;
	line-height: 180px;
	padding: 0 10px;
	color: #f7f7f7;
	font-size: 30px;
	z-index: 4;
}

#labp-heads-wrap #next {
	right: 0;
}

#labp-heads-wrap #prev {
	left: 0;
}

#labp-heads-wrap #prev.disabled,#labp-heads-wrap #next.disabled {
	color: #ccc;
	cursor: default;
}

#lab-details {
	background-color: #fff;
	padding: 20px;
	padding-top: 40px;
	text-align: center;
	min-height: 150px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 2px;
}

#lab-details div {
	display: none;
}

#lab-details h3 {
	margin-top: 0;
}

/* filter dropdowns
 **************************************************/
#filters,.filters,#pub-grid {
	padding: 20px 0 30px 0 !important;
}

#filters h3,.filters h3,div#sort {
	margin-top: 30px;
}

#sort span {
	line-height: 30px;
}

.stuck {
	position: fixed !important;
	z-index: 1001;
	top: 0;
	right: 0;

	-webkit-box-shadow: 0px 2px 4px 0px #cecece;
	box-shadow: 0px 2px 4px 0px #cecece;
}

.cd-dropdown,.cd-select {
	position: relative;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 80%;  /*Top list width*/
	height: 40px;
	line-height: 40px;
	color: #999;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 10px 0 30px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 8px;
	height: 70%;
	line-height: 24px;
}

.cd-dropdown.cd-active > span:after {
	content: '';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown > span,.cd-dropdown ul li:nth-last-child(-n+3) span {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

/*.cd-active.cd-dropdown > span {
	color: #03cc85;
}*/

.cd-active.cd-dropdown > span,.cd-active.cd-dropdown ul li span {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	/*background: #03cc85;*/
	color: #fff;
}

.cd-dropdown ul li span {
	width: 80%; /*Underneath dropdown list width*/
	background: #fafafa;
	line-height: 40px;
	padding: 0 10px 0 30px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;
}

/* publications
 **************************************************/
#pub-grid .mix {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	display: none;
}

.pitems .item {
	margin-bottom: 20px;
	width: 100%;
}

.pitems .pubmain {
	background: #fefefe;
	padding: 25px 25px 35px 25px;
	min-height: 130px;
	position: relative;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	cursor: pointer;
}

.pitems .pubtitle {
	margin: 0;
	padding: 0 0 15px 0;
	font-size: 20px;
	font-weight: 300;
}

.pitems .pubmain div {
	font-size: small;
}

.pitems .pubmain .label {
	margin-right: 10px;
}

.pitems .pubmain .pubassets {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fafafa;
	text-align: center;
	border-top: 2px solid;
}

.pitems .pubmain .pubassets a {
	color: #9b9b9b;
	padding: 5px 15px;
	float: right;
	font-size: 18px;
}

.pitems .pubmain .pubassets a:hover,.pitems .pubmain .pubassets a:focus,.pitems .pubmain .pubassets a.pubcollapse {
	/*background: #03cc85;*/
	color: #fff;
}

.pitems .pubdetails {
	background: #fff;
	padding: 25px;
	display: none;
}

/* Gallery
 **************************************************/
#gallery-header {
	color: #f7f7f7;
}

#gallery-header h2 {
	font-size: 50px;
	text-align: center;
}

#gallery-large {
	background: #303030;
	padding-top: 20px;
}

ul.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

ul.grid li {
	display: block;
	float: left;
	padding: 15px;
	width: 33%;
}

@media screen and (max-width: 900px) {
	ul.grid li {
	width: 50%;
}

}

@media screen and (max-width: 400px) {
	ul.grid li {
	width: 100%;
}

}

ul.grid li >div {
	-webkit-box-shadow: 0 0 8px -1px #000;
	box-shadow: 0 0 8px -1px #000;
	overflow: hidden;
	position: relative;
}

ul.grid li .over {
	position: absolute;
	bottom: -100%;
	width: 102%;
	right: -1%;
	left: -1%;
	color: #fff;
}

ul.grid li .comein {
	position: relative;
	z-index: 1;
	padding: 15px;
	height: 100%;
}

ul.grid li .comein i {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -30px;
	font-size: 22px;
	color: #FFF;

	-webkit-box-shadow: 0 0 60px #fff;
	box-shadow: 0 0 60px #fff;
	border: 1px solid #fff;
	text-align: center;
	padding-top: 17px;
	border-radius: 50%;
}

ul.grid li .comein-bg {
	-khtml-opacity: .70;
	-moz-opacity: .70;
	-ms-filter: ”alpha(opacity=70)”;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
	filter: alpha(opacity=70);
	opacity: .70;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	z-index: -1;
}

ul.grid li a,ul.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* at start */
.my-mfp-slide-bottom .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

/* contact
 **************************************************/
.contact-office {
	background: #fff url('../img/contact-bg-1.png') no-repeat;
}

.contact-lab {
	background: #fff url('../img/contact-bg-2.png') no-repeat;
	color: #fff;
}






/*.contact-office .icon-huge, .contact-lab .icon-huge{
	color: #03cc85;
}*/


.icon-huge {
	font-size: 170px;
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	display: block;
	padding-top: 30px;
}

@media (max-width: 500px) {
	ul.timeline {
	margin: 0;
	border-left: none;
}

ul.timeline .circle {
	display: none;
}

ul.timeline .data {
	margin: 0 !important;
	margin-bottom: 10px !important;
	padding-top: 65px !important;
}

ul.timeline .date {
	margin-left: 0 !important;
}

}

@media (max-width: 991px) {
	.mobilemenu {
	display: block;
}

.social-icons,#main-nav {
	left: -250px;
	z-index: 3;
}

#main {
	left: 0;
}

}
